{{ define "Footer" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h4>Application Handled and Maintained by Mckesson </h1>   
{{ end }}