{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>TO Do App With GO >>>>>>> </title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Golang TODO APP Example</h1>   
{{ end }}